 body {
     margin: 0%;
     padding: 0%;
     box-sizing: border-box;
 }

 .navbar .cart-icon {
     font-size: 30px;
     color: orange;
 }

 .navbar .badge {
     border-radius: 9px;
     float: right;
     font-size: 12px;
     background: #ff0000;
     color: #fff;
 }
 